visualdl==2.1.1
Shapely==1.7.1
flask_restplus==0.13.0
requests==2.25.1
pyclipper==1.2.1
six==1.15.0
imgaug==0.4.0
numpy==1.17.0
paddlepaddle_gpu==2.0.1
Flask==1.1.2
tqdm==4.58.0
Werkzeug==0.16.1
lmdb==1.1.1
opencv_python==4.2.0.32
lanms==1.0.2
Pillow==8.1.2
python_Levenshtein==0.12.2
PyYAML==5.4.1
